<ion-header>
  <ion-navbar>
    <ion-title>Todo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <img src="/assets/imgs/icon-180x180.png" class="icon-brand">
    <span style="font-size:30px;">TODO LIST</span>
  </ion-item>
  <br>

  <!-- 
  <ion-card style="margin:0;width:100%;padding: 10px;">
    <ion-list inset>      
      <ion-list-header>
        Task
      </ion-list-header>
      <ion-item *ngFor="let item of items; let i = index;">
        <ion-label *ngIf="!item.status; else isFinished"> {{ item.title }} </ion-label>
        <ng-template #isFinished>
          <ion-label style="text-decoration:line-through solid black; opacity: 0.5;"> {{ item.title }} </ion-label>
        </ng-template>
        <ion-checkbox color="secondary" [(ngModel)]="item.status" (ionChange)="finsihedListItem(i)"></ion-checkbox> 
        <button ion-button clear item-end icon-only (click)="showEditTodoList(item, i)"> <ion-icon name="md-create"></ion-icon> </button>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Todo List Item</ion-label>
        <ion-input type="text" clearInput="true" [(ngModel)]="itemListTitle"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button block medium (click)="addNewItemInList()">Add Item</button>
      </ion-item>
    </ion-list>
  </ion-card>
   -->


  <ion-card *ngFor="let activity of activities; let actIndex = index">
    <!-- <ion-card-header color="light">
      {{ activity.title }}
      <ion-buttons end>
        <button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-card-header> -->

    <ion-item>
      <span item-start (click)="showEditTodoPrompt(actIndex)">{{ activity.title }}</span>
      <button ion-button clear item-end icon-only color="danger" (click)="deleteActivity(actIndex)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
    <ion-card-content>
      <ion-list inset>   
        <ion-item *ngFor="let item of activity.tasks; let i = index;">
          <ion-label *ngIf="!item.status; else isFinished"> {{ item.title }} </ion-label>
          <ng-template #isFinished>
            <ion-label style="text-decoration:line-through solid black; opacity: 0.5;"> {{ item.title }} </ion-label>
          </ng-template>
          <ion-checkbox color="secondary" [(ngModel)]="item.status" (ionChange)="finsihedListItem(actIndex,i)"></ion-checkbox> 
          <button ion-button clear item-end icon-only (click)="showEditTodoList(item, i, actIndex)"> <ion-icon name="md-create"></ion-icon> </button>
        </ion-item>        
      
        <ion-item>
          <ion-label floating>Todo List Item</ion-label>
          <ion-input type="text" clearInput="true" [(ngModel)]="activity.tempStr"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button block medium (click)="addNewItemInList(actIndex)">Add Item</button>
        </ion-item>  
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="showAddTodoPrompt()" color="light"> 
      <ion-icon name="add"></ion-icon> 
    </button>
  </ion-fab>

</ion-content>
